<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clothing</title>
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

<div class="clothing">
    <div class="clothing-header">
        <h1><a href="../index.html">PLAYBOY</a></h1>
    </div>
    <div class="container">
        <ul class="row">
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
            <li class="col-lg-3 col-sm-6"></li>
        </ul>
    </div>
</div>

</body>
</html>