<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<div class="bg">
    <div class="center">

                <div class="photo ">
                    <img src="" alt="">
                </div>
                <div class="login">
                    <h3>LOG IN</h3>
                    <input type="text">
                    <input type="password">
                    <button><span>立即登录</span></button>
                    <p>您还不是会员？</p><a href="">免费注册</a>
                </div>

    </div>
</div>
</body>
</html>