*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration: none;
}
html {
    font-size : 16px;
}

/*手机、iPad*/
@media only screen and (max-width:768px){
    html {
        font-size: 10px;
    }
    .page-bar{
        height: 100vh;
    }
    .page-bar .title{
        bottom: 18.5rem;
    }
    .page-bar h1{font-size: 5rem}
}
/*电脑*/
@media only screen and (min-width: 770px){

    html {
         font-size: 17px;
     }
    .page-bar{
        /*height: 51vw;*/
        height: 100vh;
    }
    .page-bar .title{
        bottom: 27rem;
    }
    .page-bar h1{font-size: 9rem}

}
@media only screen and (min-width: 1600px){
    .page-bar .title{
        bottom: 30rem;
    }
    .page-bar h1{font-size: 13rem}
}

.hide{display: none}
/*主页的大框架*/
.main-page{
    width: 100vw;
    position: relative;
}
.main-page .logo{
    /*width: 10rem;*/
    /*height: 10rem;*/
    position: fixed;
    left: 1%;
    top: 1.5%;
    z-index: 1;
}
.main-page .logo img{
    /*width: 100%;*/
    /*height: 100%;*/
    width: 8rem;
    height: 8rem;
}
.main-page .nav{
    /*不用给宽高，里面是字体图标，*/
    /*width: 4rem;*/
    /*height: 4rem;*/
    position: fixed;
    right: 3%;
    top: 5%;
    z-index: 100;
    cursor: pointer;
}
.main-page .nav span{
    display: block;
    font-size: 4.2rem;/*字体图标设置字的大小*/
    color: #514E4B;
}
/*三栏的设置*/
.main-page .page-bar{
    width: 100vw;
    position: relative;
}
.page-bar img{
    width: 100%;
    height: 100%;
}
/*第一栏里的标题*/
.page-bar .title{
    width: 100%;
    height: 14rem;
    /*border: red solid 1px;*/
    position: absolute;
}
.page-bar h1 {
    top: 38vh;
    text-align: center;
}

/*导航具体的盒子*/
.nav-page{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.container .row div{
    height: 28vh;
    border: #3A393B solid 1px;
}
.container .row div h3{
    margin: 0;
    text-align: center;
    font: normal 2.2rem "Microsoft Himalaya";
    color: #ffffff;
    height: 28vh;
    line-height: 28vh;
}
/*导航里面最下边的内容*/
.nav-page-footer{
    width: 100%;
    height: 10vh;
    margin-top: 6.2vw;
    text-align: center;
}
.nav-page-footer h5,.nav-page-footer p{
    height: 3vh;
    font: normal 1.7rem "Microsoft Himalaya";
    color: #337ab7;
    opacity: 0.5;
}


